*{
    margin: 0px;
    padding: 0px;
}

#menu{
    display: flex;
     justify-content: space-around;   
    width: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    }
#menu h1{
   color: whitesmoke;
   font-weight: bold;
    }    
.menuItensConteiner{
    display: flex;
    gap: 20px;
    color: whitesmoke;
    text-decoration: none;
}
.itens{
    padding: 5px;
    text-decoration: none;
}
.itens:hover{
    background-color: aquamarine    ;
}